{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}

<div class="container mt-5">

<div class="row justify-content-center">

<div class="col-md-8">

<div class="card shadow-lg border-0 rounded-4">

<div class="card-body p-5">

<div class="text-center">

<img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png"
width="120"
class="mb-3">

<h2>{{ student[1] }}</h2>

<p class="text-muted">{{ student[2] }}</p>

</div>

<hr>

<table class="table table-bordered">

<tr>
<th>Department</th>
<td>{{ student[4] }}</td>
</tr>

<tr>
<th>Year</th>
<td>{{ student[5] }}</td>
</tr>

<tr>
<th>CGPA</th>
<td>{{ student[6] }}</td>
</tr>

<tr>
<th>Family Income</th>
<td>₹ {{ student[7] }}</td>
</tr>

<tr>
<th>Community</th>
<td>{{ student[8] }}</td>
</tr>

</table>

<div class="text-center">

<a href="/dashboard"
class="btn btn-primary">

Back to Dashboard

</a>

</div>

</div>

</div>

</div>

</div>

</div>

{% endblock %}